body {
  font-family: Helvetica;
  color: #F0E1C2;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align:center;
  height: 100vh;
  background-color: #165E8C; 
  background-size: cover;
}

.container {
  background-color: #79B5BC;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  opacity:1;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;  
}

input {
  width: 90%;
  padding: 8px;
  margin-bottom: 16px;
}

button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#resultado {
  margin-top: 10px;
  border: 1px solid #ccc; /* Adiciona uma borda ao redor do label */
  padding: 6px;
  border-radius: 4px;
  font-weight: bold;
  opacity:0.8;
}


.outer-container {
    background: #EA7B57; /* Cor de fundo */
    margin-top: 10px;
	padding: 20px; /* Espaçamento interno */
	border-radius: 10px; /* Valor do raio do arredondamento */
    overflow: hidden; 
	color:white;
	text-align:center;
	opacity:0.8;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.social-icons a {
    color: white;
    font-size: 20px;
    margin: 0 10px;
}

.social-icons a:hover {
    color: red; /* Ou a cor desejada para o hover */
}

.card {
  width: fit-content;
  height: fit-content;
  background-color: #EA7B57;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
  vertical-align: middle;
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128C7E;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

